Repository zbw/lori: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildDockerfileImages, pushDockerfileImages, build, test, pushLoriImage, pushLoriImportJob, pushTemplateApplyJob

Path conditions:
  buildDockerfileImages: any of: docker/**/Dockerfile
  pushDockerfileImages: any of: docker/**/Dockerfile
  build: any of: app/**/*, buildSrc/**/*
  test: any of: app/**/*, buildSrc/**/*
  pushLoriImage: any of: app/lori/**/*
  pushLoriImportJob: any of: job/lori_import/**/*
  pushTemplateApplyJob: any of: job/template_apply/**/*

refactor: remove templateId naming from ui
  app/lori/server/ui/src/api/bookmarkTemplateApi.ts
  app/lori/server/ui/src/api/templateApi.ts
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/SearchFilter.vue
  app/lori/server/ui/src/stores/search.ts
  app/lori/server/ui/src/utils/searchquerybuilder.ts
Due: build, test, pushLoriImage

fix: set correct pageSize value when showing template results
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

refactor: simplify query building
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
  app/lori/server/ui/src/components/SearchFilter.vue
Due: build, test, pushLoriImage

feat: add exception functionality to backend
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/QueryParameterParser.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/utils/SearchExpressionResolution.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkTemplateDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/RightDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/SearchWithExceptionTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/TemplateRightFilterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

fix: reload bookmarks only for templates
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

fix: dialog size limited to 500px
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/RightsView.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

refactor: all actions for right deletions handled by one endpoint
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/RightRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/ItemDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/ItemDBTest.kt
  app/lori/server/ui/src/components/RightsDeleteDialog.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

refactor: change column name for licenceUrl
  app/lori/server/ui/src/components/MetadataView.vue
Due: build, test, pushLoriImage

fix: api read paths don't require auth anymore
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
Due: build, test, pushLoriImage

feat(patchday): update all Dockerfiles
  docker/vault-docker/Dockerfile
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-openjdk/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
  docker/vault-terraform/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat: adding exceptions to templates implemented
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/template.api.yaml
  app/lori/api/src/main/openapi/template.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/RightDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/RightDBTest.kt
  app/lori/server/ui/src/api/templateApi.ts
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/RightsDeleteDialog.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/RightsEditTabs.vue
  app/lori/server/ui/src/components/TemplateBookmark.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

feat: exceptions finished
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/template.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/SearchWithExceptionTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/RightDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
  app/lori/server/ui/src/api/templateApi.ts
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

docs: rest api notes 401 status codes
  app/lori/api/src/main/openapi/bookmark.api.yaml
  app/lori/api/src/main/openapi/bookmarktemplates.api.yaml
  app/lori/api/src/main/openapi/group.api.yaml
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/api/src/main/openapi/metadata.api.yaml
  app/lori/api/src/main/openapi/right.api.yaml
Due: build, test, pushLoriImage

fix: ktlint
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
Due: build, test, pushLoriImage

feat: modify handles on import
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/ui/src/utils/metadata_utils.ts
Due: build, test, pushLoriImage

feat: add lifecycle columns
  app/lori/api/src/main/openapi/bookmark.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/Bookmark.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/RightDB.kt
  app/lori/server/src/main/resources/db/migration/V44__LIFECYCLES.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/BookmarkRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GuiRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/MockAuthProvider.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkDBTest.kt
Due: build, test, pushLoriImage

feat: use login information for created/lastupdated-by
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/RightRoutes.kt
  app/lori/server/src/main/resources/db/migration/V44__LIFECYCLES.sql
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

feat: make template overview searchable
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

refactor: ktlint stuff
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/RightRoutes.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GuiRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/MockAuthProvider.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkDBTest.kt
Due: build, test, pushLoriImage

feat(patchday): use new images in pipeline
  .gitlab-ci.yml
Due: none

fix: prevent sql injections when counting results
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

fix: error message right conflicts show correct ids
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
Due: build, test, pushLoriImage

fix: reference correct table name on exception
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

docs: add telepresence and db imports
  app/lori/server/README.md
Due: build, test, pushLoriImage

refactor: change wording on deleting templates
  app/lori/server/ui/src/components/RightsDeleteDialog.vue
Due: build, test, pushLoriImage

feat: don't import empty subcommunity lists
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/connector/DAConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
Due: build, test, pushLoriImage

refactor: ktlint
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
Due: build, test, pushLoriImage

feat: when a template is applied and it has exceptions, apply them as well
  app/lori/api/src/main/openapi/template.model.yaml
  app/lori/api/src/main/proto/de/zbw/lori/api/v1/lori_model.proto
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/TemplateApplicationResult.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/LoriGrpcServerTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

ci: deploy change
  app/lori/server/DEPLOY.md
Due: build, test, pushLoriImage

fix: unify displaying publication types
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/MetadataView.vue
  app/lori/server/ui/src/components/SearchFilter.vue
  app/lori/server/ui/src/utils/metadata_utils.ts
Due: build, test, pushLoriImage

fix: on template update notice if exceptions were added
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

feat(patchday): update all dockerfiles
  docker/vault-docker/Dockerfile
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-openjdk/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
  docker/vault-terraform/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(patchday): attempt to fix LICENSE.txt error
  docker/vault-terraform/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(patchday): forgot one fie version tag bump
  docker/vault-psql-s3cmd/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(patchday): use new images
  .gitlab-ci.yml
Due: none

fix(MRpipeline): attempt to fix git diff in MR
  .gitlab-ci.yml
  docker/vault-terraform/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

fix(MRpipeline): revert Dockerfile dummy change
  docker/vault-terraform/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat: disable delete button for exception templates
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

feat: symbol and tooltip for exception templates
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

feat: show exception property in template overview
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage
