Repository zbw/lori: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildDockerfileImages, pushDockerfileImages, build, test, pushLoriImage, pushLoriImportJob, pushTemplateApplyJob

Path conditions:
  buildDockerfileImages: any of: docker/**/Dockerfile
  pushDockerfileImages: any of: docker/**/Dockerfile
  build: any of: app/**/*, buildSrc/**/*, job/**/*
  test: any of: app/**/*, buildSrc/**/*, job/**/*
  pushLoriImage: any of: app/lori/**/*
  pushLoriImportJob: any of: job/lori_import/**/*
  pushTemplateApplyJob: any of: job/template_apply/**/*

feat: cc filter frontend finished
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/QueryParameterParser.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/ui/src/api/api.ts
  app/lori/server/ui/src/api/bookmarkApi.ts
  app/lori/server/ui/src/components/BookmarkSave.vue
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/SearchFilter.vue
  app/lori/server/ui/src/stores/search.ts
  app/lori/server/ui/src/utils/searchquerybuilder.ts
Due: build, test, pushLoriImage

fix: changing pages after applying templates
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

fix: introduce <thead> and <tbody> for <table>
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

feat(stb3-252): copy gitlab-ci from test project
  .gitlab-ci.yml
Due: none

feat(stb3-252): typo
  .gitlab-ci.yml
Due: none

test: fix broken tests
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/BookmarkRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
Due: build, test, pushLoriImage

feat(stb3-252): remove OTC swr path
  buildSrc/src/main/kotlin/zbw.kotlin-application.gradle.kts
Due: build, test

feat(stb3-252): trigger pipeline
  app/lori/server/DEPLOY.md
Due: build, test, pushLoriImage

fix: missing paranthesis on RightValidOnFilter
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
Due: build, test, pushLoriImage

feat(stb3-252): build import job
  app/lori/server/DEPLOY.md
Due: build, test, pushLoriImage

feat(stb3-252): trigger build import job
  job/lori_import/DEPLOY.md
Due: build, test, pushLoriImportJob

feat(stb3-252): fix sed for commented lines
  .gitlab-ci.yml
  job/template_apply/DEPLOY.md
Due: build, test, pushTemplateApplyJob

feat: add alphabetical sort order to cc licence filter
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/utils/RestConverterUtil.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/utils/RestConverterUtilTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
  app/lori/server/ui/src/components/SearchFilter.vue
Due: build, test, pushLoriImage

refactor: combine query for facets
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

fix: facets for rights consider all rights of results
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
Due: build, test, pushLoriImage

test: fix tests
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

feat(stb3): runner w/o dockersocket
  .gitlab-ci.yml
  app/lori/server/DEPLOY.md
Due: build, test, pushLoriImage

feat(stb3): add docker compose up commands
  .gitlab-ci.yml
Due: none

feat(stb3): --remove-orphans to rm cron containers
  .gitlab-ci.yml
Due: none

feat(stb3): docker compose down cronjob services
  .gitlab-ci.yml
Due: none

feat: test runs backend implemented
  app/lori/api/src/main/openapi/template.api.yaml
  app/lori/api/src/main/proto/de/zbw/lori/api/v1/lori_model.proto
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/Bookmark.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/LoriGrpcServerTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/BookmarkRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
Due: build, test, pushLoriImage

feat: templates can be tested now before application
  app/lori/api/src/main/openapi/error.api.yaml
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/template.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ErrorRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/RightError.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/TemplateApplicationResult.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/utils/DashboardUtil.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/RightErrorDB.kt
  app/lori/server/src/main/resources/db/migration/V62__ADD_TABLE_TEST_APPLICATION.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/LoriGrpcServerTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ErrorRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/FindErrorsTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/RightErrorFilterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/utils/DashboardUtilTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/RightErrorDBTest.kt
  app/lori/server/ui/src/api/rightErrorApi.ts
  app/lori/server/ui/src/api/templateApi.ts
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/BookmarkSave.vue
  app/lori/server/ui/src/components/Dashboard.vue
  app/lori/server/ui/src/components/GroupDeleteDialog.vue
  app/lori/server/ui/src/components/GroupEdit.vue
  app/lori/server/ui/src/components/GroupOverview.vue
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/RightsView.vue
  app/lori/server/ui/src/components/TemplateBookmark.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

feat: diable testing button for local changes and new templates
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

fix: creating template via bookmark menu possible again
  app/lori/server/ui/src/components/BookmarkOverview.vue
Due: build, test, pushLoriImage

feat: validate group selection in combination with access state
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

feat: ip groups add link to wiki and changes of layout
  app/lori/server/ui/src/components/GroupEdit.vue
  app/lori/server/ui/src/components/GroupOverview.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

feat: add lifecycle fields to group
  app/lori/api/src/main/openapi/group.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GroupRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/GroupTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/GroupDB.kt
  app/lori/server/src/main/resources/db/migration/V63__GROUPS_LIFECYCLE.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GroupRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/RightGroupTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/GroupDBTest.kt
  app/lori/server/ui/src/components/GroupEdit.vue
Due: build, test, pushLoriImage

feat: on template tests show more information
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
  app/lori/server/ui/src/utils/info.ts
Due: build, test, pushLoriImage

fix: display save button when creating exceptions for templates
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

feat: groups are now organised with different versions
  app/lori/api/src/main/openapi/group.api.yaml
  app/lori/api/src/main/openapi/group.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GroupRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/GroupTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/GroupDB.kt
  app/lori/server/src/main/resources/db/migration/V64__GROUP_VERSION.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GroupRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/RightGroupTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/GroupDBTest.kt
  app/lori/server/ui/src/api/api.ts
  app/lori/server/ui/src/components/GroupOverview.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

feat: display version
  app/lori/api/src/main/openapi/group.api.yaml
  app/lori/api/src/main/openapi/group.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GroupRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/GroupTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/GroupDB.kt
  app/lori/server/ui/src/api/api.ts
  app/lori/server/ui/src/components/GroupEdit.vue
Due: build, test, pushLoriImage

feat: add group version download
  app/lori/api/src/main/openapi/group.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GroupRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/GroupDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GroupRoutesKtTest.kt
  app/lori/server/ui/package-lock.json
  app/lori/server/ui/package.json
  app/lori/server/ui/src/api/api.ts
  app/lori/server/ui/src/components/GroupEdit.vue
Due: build, test, pushLoriImage

refactor: apply ktlint suggestions
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GroupRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/GroupDB.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/RightGroupTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/GroupDBTest.kt
Due: build, test, pushLoriImage

fix: show ip groups in text field
  app/lori/server/ui/src/components/GroupEdit.vue
Due: build, test, pushLoriImage

feat: add manual right search filter
  app/lori/api/src/main/openapi/bookmark.model.yaml
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/api/src/main/openapi/item.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/QueryParameterParser.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/Bookmark.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/RightDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/main/resources/db/migration/V65__BOOKMARK_MANUAL_RIGHT_FILTER.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/QueryParameterParserTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ManualRightFilterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkDBTest.kt
  app/lori/server/ui/src/api/api.ts
  app/lori/server/ui/src/api/bookmarkApi.ts
  app/lori/server/ui/src/components/BookmarkSave.vue
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/SearchFilter.vue
  app/lori/server/ui/src/stores/search.ts
  app/lori/server/ui/src/utils/searchquerybuilder.ts
Due: build, test, pushLoriImage

fix: group API checks for ManualRightFilter now
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
Due: build, test, pushLoriImage

fix: rename last occurrence of 'Bookmark' term
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

feat: introduce filter_access_state_on to backend
  app/lori/api/src/main/openapi/bookmark.model.yaml
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/QueryParameterParser.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/Bookmark.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkDB.kt
  app/lori/server/src/main/resources/db/migration/V66__BOOKMARK_ACCESS_STATE_ON_FILTER.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/QueryParameterParserTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/AccessStateOnFilterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkDBTest.kt
Due: build, test, pushLoriImage

fix: group history add createdBy column
  app/lori/server/ui/src/components/GroupEdit.vue
Due: build, test, pushLoriImage
