Repository zbw/lori: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dockerfiles, push_dockerfiles, build, test, pushLoriImage, pushLoriImportJob, pushTemplateApplyJob

Path conditions:
  build_dockerfiles: any of: docker/**/Dockerfile
  push_dockerfiles: any of: docker/**/Dockerfile
  build: any of: app/**/*, buildSrc/**/*
  test: any of: app/**/*, buildSrc/**/*
  pushLoriImage: any of: app/lori/**/*
  pushLoriImportJob: any of: job/lori_import/**/*
  pushTemplateApplyJob: any of: job/template_apply/**/*

feat(DOckerfiles): yesterdays last changes
  .gitlab-ci.yml
Due: none

feat(Dockerfiles): introduced workflow rules
  .gitlab-ci.yml
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(Dockerflies): test - changed 1 Dockerfile
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(Dockerfiles): test - changed Dockerfile again
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat: list all bookmark results connected to a template
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/SearchQueryResult.kt
  app/lori/server/src/main/resources/lori.properties
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/BookmarkSearchsByTemplateId.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/type/SearchQueryResultTest.kt
  app/lori/server/ui/src/api/templateApi.ts
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

chore: update ui libs
  app/lori/server/ui/package-lock.json
  app/lori/server/ui/package.json
Due: build, test, pushLoriImage

fix: doubleclick event in item-list works again
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

feat: add template/right icon
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/RightsEditTabs.vue
  app/lori/server/ui/src/components/RightsView.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

fix: type errors in vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/RightsEditTabs.vue
Due: build, test, pushLoriImage

temp: started modifying queries
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchKey.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/main/resources/db/migration/V24__TITLE_TS_VECTOR.sql
Due: build, test, pushLoriImage

temp: operator not
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchKey.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchPair.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/Bookmark.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/MetadataDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/BookmarkRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

feat: reformatting of search queries implemented
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchKey.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchPair.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/FilterSearchTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/MultipleWordSearchTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/RightFilterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

test: logical operator tests
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LogicalOperationQueriesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

feat(OpenjdkImage): Dockerfile with new openjdk
  docker/vault-openjdk/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(OpenjdkImages): use new images in pipeline
  .gitlab-ci.yml
Due: none

feat(OpenjdkImages): trigger pipeline build stage
  app/pipeline_trigger.txt
Due: build, test

feat: add search field to bookmark overview
  app/lori/server/ui/src/components/BookmarkOverview.vue
Due: build, test, pushLoriImage

feat(OpenjdkImages): try latest amazoncorretto
  .gitlab-ci.yml
  app/pipeline_trigger.txt
Due: build, test

feat(OpenjdkImages): more recent amazoncorretto
  .gitlab-ci.yml
  app/pipeline_trigger.txt
Due: build, test

feat(OpenjdkImages): try eclipse-temurin:17-jdk
  .gitlab-ci.yml
  app/pipeline_trigger.txt
Due: build, test

feat(OpenjdkImages): custom image with eclipse
  .gitlab-ci.yml
  app/pipeline_trigger.txt
  docker/vault-openjdk/Dockerfile
Due: build_dockerfiles, push_dockerfiles, build, test

feat(OpenjdkImages): use correct installer in Dock
  docker/vault-openjdk/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(OpenjdkImages): trigger build,test,pushLORI
  app/lori/server/DEPLOY.md
  app/pipeline_trigger.txt
Due: build, test, pushLoriImage

fix: template accordeon displayed via bookmark overview
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

feat(OpenjdkImages): remove test tag
  .gitlab-ci.yml
  docker/vault-openjdk/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(OpenjdkImages): trigger LORI build
  app/lori/server/DEPLOY.md
Due: build, test, pushLoriImage

feat: qol search accepts double quotes as well
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
Due: build, test, pushLoriImage

feat: detect right conflicts
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/Either.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/GroupTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/ItemDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/RightFilterTest.kt
Due: build, test, pushLoriImage

feat: show errors for conflicting dates in UI
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/server/ui/src/api/api.ts
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

fix: test roundtrip fixed
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
Due: build, test, pushLoriImage

build: update to gradle 8.3
  app/lori/api/build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/zbw.kotlin-application.gradle.kts
  buildSrc/src/main/kotlin/zbw.kotlin-conventions.gradle.kts
  buildSrc/src/main/kotlin/zbw.openapi.gradle.kts
  buildSrc/src/main/kotlin/zbw.proto-api.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Due: build, test, pushLoriImage

feat(patchday): update Dockerfile app versions
  docker/vault-dind/Dockerfile
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-openjdk/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): use new images in pipeline
  .gitlab-ci.yml
  docker/vault-psql-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): trigger build
  app/lori/server/DEPLOY.md
  app/pipeline_trigger.txt
Due: build, test, pushLoriImage

build: generate openapi json
  app/lori/server/ui/build.gradle.kts
Due: build, test, pushLoriImage

feat: use openapi-vue to display api doc under /api/v1
  app/lori/server/ui/package-lock.json
  app/lori/server/ui/package.json
  app/lori/server/ui/src/App.vue
  app/lori/server/ui/src/components/API.vue
  app/lori/server/ui/src/main.ts
  app/lori/server/ui/src/router/index.ts
  app/lori/server/ui/src/shims-vue.d.ts
Due: build, test, pushLoriImage

docs: add servers section to openapi.yaml
  app/lori/api/src/main/openapi/openapi.yaml
Due: build, test, pushLoriImage

fix: delete unused query param
  app/lori/server/ui/src/components/API.vue
Due: build, test, pushLoriImage

build: add vue-material to dependencies
  app/lori/server/ui/package-lock.json
  app/lori/server/ui/package.json
Due: build, test, pushLoriImage

feat: extend template fields backend
  app/lori/api/src/main/openapi/template.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/Template.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/TemplateDB.kt
  app/lori/server/src/main/resources/db/migration/V25__TEMPLATE_LIFECYCLE.sql
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/BookmarkSearchsByTemplateId.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/TemplateDBTest.kt
  app/lori/server/ui/src/components/API.vue
Due: build, test, pushLoriImage
