Repository zbw/lori: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dockerfiles, push_dockerfiles, build, test, pushLoriImage, pushLoriImportJob, pushTemplateApplyJob

Path conditions:
  build_dockerfiles: any of: docker/**/Dockerfile
  push_dockerfiles: any of: docker/**/Dockerfile
  build: any of: app/**/*, buildSrc/**/*
  test: any of: app/**/*, buildSrc/**/*
  pushLoriImage: any of: app/lori/**/*
  pushLoriImportJob: any of: job/lori_import/**/*
  pushTemplateApplyJob: any of: job/template_apply/**/*

feat(patchday): remove git fetch, done by cicd
  .gitlab-ci.yml
Due: none

feat(patchday): elseif for case merge request
  .gitlab-ci.yml
Due: none

feat(patchday): typo
  .gitlab-ci.yml
Due: none

feat(patchday): syntax
  .gitlab-ci.yml
Due: none

feat(patchday): add comments
  .gitlab-ci.yml
Due: none

feat(patchday): use new images in pipeline
  .gitlab-ci.yml
Due: none

feat(STB3_398): handle sso post response
  app/lori/api/src/main/openapi/users.api.yaml
  app/lori/api/src/main/openapi/users.model.yaml
  app/lori/server/build.gradle.kts
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/ServicePoolWithProbes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ApiError.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GuiRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/UsersRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/SamlUtils.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/UserSession.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/UserTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/UserDB.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/UserDBTest.kt
  app/lori/server/ui/src/api/usersApi.ts
  app/lori/server/ui/src/components/TopNavigationBar.vue
  app/lori/server/ui/src/stores/user.ts
  app/lori/server/ui/src/utils/error.ts
  buildSrc/build.gradle.kts
  gradle.properties
Due: build, test, pushLoriImage

test: add tests for new routes
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GuiRoutes.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GuiRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/UsersRoutesKtTest.kt
Due: build, test, pushLoriImage

refactor: clean up old user login code
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/users.api.yaml
  app/lori/api/src/main/openapi/users.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/UsersRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/UserTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/UserDB.kt
  app/lori/server/src/main/resources/db/migration/V32__DROP_USERS_TABLE.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/UsersRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/UserDBTest.kt
Due: build, test, pushLoriImage

feat: handle logout
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/users.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/ServicePoolWithProbes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/config/LoriConfiguration.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GuiRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/UsersRoutes.kt
  app/lori/server/src/main/resources/lori.properties
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/ServicePoolWithProbesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/config/LoriConfigurationTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/MetadataRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
  app/lori/server/ui/src/api/usersApi.ts
  app/lori/server/ui/src/components/TopNavigationBar.vue
  app/lori/server/ui/src/stores/user.ts
Due: build, test, pushLoriImage

test: saml cookie endpoints
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/ServicePoolWithProbes.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GuiRoutesKtTest.kt
Due: build, test, pushLoriImage

fix: unauthorized responses provide now json
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/ServicePoolWithProbes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/UsersRoutes.kt
Due: build, test, pushLoriImage

feat(STB3-395): searching for multiple words works ootb now
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
Due: build, test, pushLoriImage

fix: ktlint adjustments
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/ui/src/components/TopNavigationBar.vue
Due: build, test, pushLoriImage

feat(stb3-406): do not use apk cache in Helm image
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): s3cmd by apk, declutter helm
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): typo
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): remove more installation leftovers
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): remove openssl-dev removal
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): build tf image now
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): helm image 0.9.3 w g++
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

fea(stb3-406): git-crypt binary
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): tf image 0.9.1 w/o git
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

Revert "feat(stb3-406): tf image 0.9.1 w/o git"
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

Revert "fea(stb3-406): git-crypt binary"
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): refactor Dockerfiles
  docker/vault-dind/Dockerfile
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-openjdk/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(stb3-406): use new build images
  .gitlab-ci.yml
Due: none

23 kw49 395 fixes
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

feat(stb3-389): use gitlab id_token instead of CI_
  .gitlab-ci.yml
Due: none

feat(stb3-389): update Dockerfile to trigger pipel
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat: check date conflict (template application)
  app/lori/api/src/main/openapi/template.model.yaml
  app/lori/api/src/main/proto/de/zbw/lori/api/v1/lori_model.proto
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/ConflictError.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/LoriGrpcServerTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
Due: build, test, pushLoriImage

feat(patchday): update all dockerfiles
  docker/vault-dind/Dockerfile
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-openjdk/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): use new images
  .gitlab-ci.yml
  docker/vault-s3cmd/Dockerfile
  package-lock.json
Due: build_dockerfiles, push_dockerfiles

feat(STB3_404): show template error dialog after apply
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

feat(STB3-412): add and use option to search for results by template id
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/QueryParameterParser.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseConnector.kt
  app/lori/server/src/main/resources/db/migration/V33__ITEM_RIGHT_DROP_CONSTRAINT.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/BookmarkRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/QueryParameterParserTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/SearchByTemplateIdTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/TemplateRightFilterTest.kt
  app/lori/server/ui/src/api/api.ts
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

fix: fetch existing community ids on demand
  .gitignore
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/config/LoriConfiguration.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/connector/DAConnector.kt
  app/lori/server/src/main/resources/lori.properties
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/LoriGrpcServerTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/ServicePoolWithProbesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/config/LoriConfigurationTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/connector/DAConnectorTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/MetadataRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
Due: build, test, pushLoriImage

feat(patchday): update Dockerfiles
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): roll back s3cmd after build failur
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): clean up README.md
  README.md
Due: none
