Repository zbw/lori: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dockerfiles, push_dockerfiles, build, test, pushLoriImage, pushLoriImportJob, pushTemplateApplyJob

build_dockerfiles:
  stage: build_dockerfiles
  image: docker:24.0.5-git
  script:
  - echo $CI_PIPELINE_SOURCE
  - echo $CI_COMMIT_SHA
  - echo $CI_DEFAULT_BRANCH
  - echo $CI_COMMIT_BRANCH
  - echo $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  - echo $CI_MERGE_REQUEST_TARGET_BRANCH_SHA
  - git rev-parse HEAD
  - git rev-parse HEAD^1
  ...

push_dockerfiles:
  stage: push_dockerfiles
  image: swr.eu-nl.otc.t-systems.com/zbw-tools-nl/vault-dind:0.0.1
  variables:
    VAULT_ROLE_ID: ci-zbw-dev
  script:
  - echo $CI_PIPELINE_SOURCE
  - echo $CI_COMMIT_SHA
  - echo $CI_DEFAULT_BRANCH
  - echo $CI_COMMIT_BRANCH
  - echo $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

build:
  stage: build
  script:
  - ./gradlew assemble --parallel
  artifacts:
    paths:
    - build/libs/*.jar
    expire_in: 1 week

test:
  stage: test
  dependencies:
  - build
  script:
  - ./gradlew check --parallel
  artifacts:
    when: always
    reports:
      junit: app/*/**/TEST-*.xml

pushLoriImage:
  stage: push
  image: $VAULT_OPENJDK_IMAGE
  variables:
    VAULT_ROLE_ID: ci-zbw-dev
  dependencies:
  - test
  script:
  - export VAULT_ADDR=https://vault-nl.zbw.eu
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt-cloud/login role=$VAULT_ROLE_ID jwt=$CI_JOB_JWT)"
  - mkdir -p ~/.docker
  ...

pushLoriImportJob:
  stage: push
  image: $VAULT_OPENJDK_IMAGE
  variables:
    VAULT_ROLE_ID: ci-zbw-dev
  dependencies:
  - test
  script:
  - export VAULT_ADDR=https://vault-nl.zbw.eu
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt-cloud/login role=$VAULT_ROLE_ID jwt=$CI_JOB_JWT)"
  - mkdir -p ~/.docker
  ...

pushTemplateApplyJob:
  stage: push
  image: $VAULT_OPENJDK_IMAGE
  variables:
    VAULT_ROLE_ID: ci-zbw-dev
  dependencies:
  - test
  script:
  - export VAULT_ADDR=https://vault-nl.zbw.eu
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt-cloud/login role=$VAULT_ROLE_ID jwt=$CI_JOB_JWT)"
  - mkdir -p ~/.docker
  ...

refactor: merge template table into right table
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/right.model.yaml
  app/lori/api/src/main/openapi/template.api.yaml
  app/lori/api/src/main/openapi/template.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/Template.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkTemplateDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/RightDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/TemplateDB.kt
  app/lori/server/src/main/resources/db/migration/V26__MERGE_TEMPLATE.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/RightFilterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkTemplateDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/TemplateDBTest.kt
  app/lori/server/ui/src/api/templateApi.ts
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

refactor: tests after merge fixed
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkTemplateDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/RightDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/BookmarkRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/BookmarkSearchsByTemplateId.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkTemplateDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/ItemDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/RightDBTest.kt
Due: build, test, pushLoriImage

refactor: change of requirement property in component
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/RightsEditTabs.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

feat: merge template and right in frontend
  app/lori/api/src/main/openapi/right.model.yaml
  app/lori/server/ui/src/api/templateApi.ts
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

feat(STB3-383): change edit rights for templates
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

test: adjust test
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
Due: build, test, pushLoriImage

fix: propagate if a new template or right is created via prop
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/RightsEditTabs.vue
  app/lori/server/ui/src/components/RightsView.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

test: adjust tests
  app/lori/server/ui/tests/unit/rightsEditDialog.spec.ts
Due: build, test, pushLoriImage

fix: change community ids in properties
  app/lori/server/src/main/resources/lori.properties
Due: build, test, pushLoriImage

refactor: some small api doc fixes
  app/lori/api/src/main/openapi/bookmark.api.yaml
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/right.api.yaml
  app/lori/api/src/main/openapi/users.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ApiError.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/UsersRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
Due: build, test, pushLoriImage

feat: minor adjustment in bookmark search execution
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

feat(STB3-379): show date in right tabs overview
  app/lori/server/ui/src/components/RightsEditTabs.vue
Due: build, test, pushLoriImage

refactor: ktlint suggestions
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
Due: build, test, pushLoriImage

feat: add subcommunity to import
  app/lori/api/src/main/openapi/metadata.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/DARest.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/MetadataDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/main/resources/db/migration/V27__SUBCOMMUNITIES_META.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/connector/DAConnectorTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/ItemDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

feat: add fields for handles
  app/lori/api/src/main/openapi/metadata.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/connector/DAConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/MetadataDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/main/resources/db/migration/V28__HANDLES.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/connector/DAConnectorTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/ItemDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
  app/lori/server/ui/src/components/MetadataView.vue
Due: build, test, pushLoriImage

fix(STB3-393): search can handle special characters
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

feat(patchday): update dockerfiles
  docker/vault-dind/Dockerfile
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-openjdk/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(Dockerfiles): set back psql version
  docker/vault-psql-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): use new image
  .gitlab-ci.yml
  app/lori/server/DEPLOY.md
Due: build, test, pushLoriImage

feat: display handle urls as urls in html
  app/lori/server/ui/src/components/MetadataView.vue
Due: build, test, pushLoriImage

feat: add search keys for handles
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/connector/DAConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchKey.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/MetadataDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/main/resources/db/migration/V29__HANDLE_VECTORS.sql
  app/lori/server/src/main/resources/db/migration/V30__ITEM_HANDLE_VECTOR.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/connector/DAConnectorTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/SearchKeyTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/MetadataView.vue
  app/lori/server/ui/src/components/RightsView.vue
Due: build, test, pushLoriImage

feat: first sso story
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/template.api.yaml
  app/lori/api/src/main/openapi/users.api.yaml
  app/lori/api/src/main/openapi/users.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ApiError.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/UsersRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/UserTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/UserDB.kt
  app/lori/server/src/main/resources/db/migration/V31__TABLE_SESSION.sql
  app/lori/server/src/main/resources/lori.properties
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/UserDBTest.kt
  app/lori/server/ui/package-lock.json
  app/lori/server/ui/package.json
  app/lori/server/ui/src/App.vue
  app/lori/server/ui/src/api/usersApi.ts
  app/lori/server/ui/src/components/TopNavigationBar.vue
Due: build, test, pushLoriImage

fix: ktlint fixes
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
Due: build, test, pushLoriImage

feat: redirect when login fails
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/config/LoriConfiguration.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/UsersRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/resources/lori.properties
Due: build, test, pushLoriImage

test: fix tests
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/ServicePoolWithProbesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/config/LoriConfigurationTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/MetadataRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/UsersRoutesKtTest.kt
Due: build, test, pushLoriImage

feat(stb3-361): auth path for new gitlab
  .gitlab-ci.yml
Due: none

feat(patchday): update s3cmd Docker to test ci/cd
  docker/vault-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): update dockerfile vault-terraform
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): update Dockerfile vault-psql-s3cmd
  docker/vault-psql-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): update Dockerfiles
  docker/vault-openjdk/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
  docker/vault-terraform/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): revert psql version
  docker/vault-psql-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(ptchday): really revert psql version
  docker/vault-psql-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): set psql version to log output ver
  docker/vault-psql-s3cmd/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): update Helm dockerfile
  docker/vault-kubectl-helm/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): update dockerfile vault-dind
  docker/vault-dind/Dockerfile
Due: build_dockerfiles, push_dockerfiles

feat(patchday): add echos to pipeline
  .gitlab-ci.yml
Due: none

feat(patchday): pipeline logic: find diff command
  .gitlab-ci.yml
Due: none

feat(patchday): typo
  .gitlab-ci.yml
Due: none

feat(patchday): pipeline issues fetch main
  .gitlab-ci.yml
Due: none

feat(patchday): origin/main instead of main
  .gitlab-ci.yml
Due: none

Path conditions:
  build_dockerfiles: any of: docker/**/Dockerfile
  push_dockerfiles: any of: docker/**/Dockerfile
  build: any of: app/**/*, buildSrc/**/*
  test: any of: app/**/*, buildSrc/**/*
  pushLoriImage: any of: app/lori/**/*
  pushLoriImportJob: any of: job/lori_import/**/*
  pushTemplateApplyJob: any of: job/template_apply/**/*
