Repository zbw/lori: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildDockerfileImages, pushDockerfileImages, build, test, pushLoriImage, pushLoriImportJob, pushTemplateApplyJob

buildDockerfileImages:
  stage: build
  image: docker:24.0.7-git
  script:
  - echo $CI_COMMIT_SHA
  - echo $CI_COMMIT_BEFORE_SHA
  - echo $CI_PIPELINE_SOURCE
  - echo $CI_COMMIT_BRANCH
  - echo $CI_DEFAULT_BRANCH
  - echo $CI_OPEN_MERGE_REQUESTS
  ...

pushDockerfileImages:
  stage: push
  needs:
  - buildDockerfileImages
  image: swr.eu-nl.otc.t-systems.com/zbw-tools-nl/vault-dind:0.1.0
  variables:
    VAULT_ROLE_ID: ci-zbw-dev
  script:
  - export VAULT_ADDR=https://vault-nl.zbw.eu
  ...

build:
  stage: build
  script:
  - ./gradlew assemble --parallel
  artifacts:
    paths:
    - build/libs/*.jar
    expire_in: 1 week

test:
  stage: test
  needs:
  - build
  dependencies:
  - build
  script:
  - ./gradlew check --parallel
  artifacts:
    when: always
    reports:
      junit: app/*/**/TEST-*.xml

pushLoriImage:
  stage: push
  needs:
  - test
  image: $VAULT_OPENJDK_IMAGE
  variables:
    VAULT_ROLE_ID: ci-zbw-dev
  dependencies:
  - test
  script:
  - export VAULT_ADDR=https://vault-nl.zbw.eu
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt-cloud2/login role=$VAULT_ROLE_ID jwt=$CI_JOB_JWT)"
  - mkdir -p ~/.docker
  ...

pushLoriImportJob:
  stage: push
  needs:
  - test
  image: $VAULT_OPENJDK_IMAGE
  variables:
    VAULT_ROLE_ID: ci-zbw-dev
  dependencies:
  - test
  script:
  - export VAULT_ADDR=https://vault-nl.zbw.eu
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt-cloud2/login role=$VAULT_ROLE_ID jwt=$CI_JOB_JWT)"
  - mkdir -p ~/.docker
  ...

pushTemplateApplyJob:
  stage: push
  needs:
  - test
  image: $VAULT_OPENJDK_IMAGE
  variables:
    VAULT_ROLE_ID: ci-zbw-dev
  dependencies:
  - test
  script:
  - export VAULT_ADDR=https://vault-nl.zbw.eu
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt-cloud2/login role=$VAULT_ROLE_ID jwt=$CI_JOB_JWT)"
  - mkdir -p ~/.docker
  ...

refactor: alert closable
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/BookmarkSave.vue
  app/lori/server/ui/src/components/GroupDeleteDialog.vue
  app/lori/server/ui/src/components/GroupEdit.vue
  app/lori/server/ui/src/components/GroupOverview.vue
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/RightsDeleteDialog.vue
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/RightsEditTabs.vue
  app/lori/server/ui/src/components/RightsView.vue
  app/lori/server/ui/src/components/TemplateBookmark.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

fix: startDate is now possible undefined as well
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

refactor: emit full object from TemplateBookmark
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/TemplateBookmark.vue
Due: build, test, pushLoriImage

refactor: vuetify3 v-btn tags
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/TemplateOverview.vue
Due: build, test, pushLoriImage

test: exclude ui tests for now in pipeline
  app/lori/server/ui/build.gradle.kts
Due: build, test, pushLoriImage

feat(patchday): update Dockerfiles
  docker/vault-dind/Dockerfile
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-openjdk/Dockerfile
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
  docker/vault-terraform/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(patchday): revert s3cmd version
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(patchday): use new Dockerfile images
  .gitlab-ci.yml
Due: none

temp: stop logging right errors for now in DB
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
Due: build, test, pushLoriImage

feat: allow write/edit actions only for users with write access
  app/lori/api/src/main/openapi/bookmark.api.yaml
  app/lori/api/src/main/openapi/bookmarktemplates.api.yaml
  app/lori/api/src/main/openapi/group.api.yaml
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/api/src/main/openapi/metadata.api.yaml
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/api/src/main/openapi/right.api.yaml
  app/lori/api/src/main/openapi/template.api.yaml
  app/lori/api/src/main/openapi/users.api.yaml
  app/lori/api/src/main/openapi/users.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/ServicePoolWithProbes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkTemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GroupRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GuiRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/MetadataRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/RightRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/SamlUtils.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/UserSession.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/UserTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/UserDB.kt
  app/lori/server/src/main/resources/db/migration/V36__SESSIONS_CHANGE_ROLE_TO_PERMISSIONS.sql
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/UserDBTest.kt
  app/lori/server/ui/src/components/RightsEditDialog.vue
  app/lori/server/ui/src/components/TopNavigationBar.vue
  app/lori/server/ui/src/stores/user.ts
  buildSrc/build.gradle.kts
Due: build, test, pushLoriImage

test: circumvent auths in route tests
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/ServicePoolWithProbes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/config/LoriConfiguration.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GroupRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GuiRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/SamlUtils.kt
  app/lori/server/src/main/resources/lori.properties
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/ServicePoolWithProbesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/config/LoriConfigurationTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/BookmarkRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/BookmarkTemplateRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ErrorRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GroupRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/GuiRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/MetadataRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/MockAuthProvider.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/TemplateRoutesKtTest.kt
Due: build, test, pushLoriImage

fix: rightIdSource might be null
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
Due: build, test, pushLoriImage

feat(stb3-409): non-root user in Dockerfiles
  docker/vault-dind/Dockerfile
  docker/vault-openjdk/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(stb3-409): revert change in vault-openjdk
  docker/vault-openjdk/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(stb3-409): lori test stage uses new runner
  .gitlab-ci.yml
Due: none

feat(stb3-409): dummy change on dockerfile
  docker/vault-dind/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(stb3-409): dummy change lori server
  app/lori/server/DEPLOY.md
Due: build, test, pushLoriImage

feat: allow multiple template ids in request
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/QueryParameterParser.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/QueryParameterParserTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/SearchByTemplateIdTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/TemplateRightFilterTest.kt
  app/lori/server/ui/src/api/api.ts
Due: build, test, pushLoriImage

feat(stb3-409): use dockersocket project runner
  .gitlab-ci.yml
Due: none

feat(stb3-409): trigger all builds
  app/lori/server/DEPLOY.md
  docker/vault-dind/Dockerfile
  job/lori_import/DEPLOY.md
  job/template_apply/DEPLOY.md
Due: buildDockerfileImages, pushDockerfileImages, build, test, pushLoriImage, pushLoriImportJob, pushTemplateApplyJob

feat(stb3-409): test use old runner config
  .gitlab-ci.yml
  docker/vault-dind/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(stb3-409): use dockersocket in dockerfilebuil
  .gitlab-ci.yml
  docker/vault-dind/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(stb3-409): bump Dockerfile
  docker/vault-dind/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat: backend result looks correct
  app/lori/api/src/main/openapi/item.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/SearchQueryResult.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/type/SearchQueryResultTest.kt
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

feat: show template ids as filter
  app/lori/api/src/main/openapi/bookmark.model.yaml
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/SearchFilter.vue
  app/lori/server/ui/src/stores/search.ts
  app/lori/server/ui/src/utils/searchquerybuilder.ts
Due: build, test, pushLoriImage

test: fix existing tests
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
Due: build, test, pushLoriImage

feat: display template name in frontend
  app/lori/api/src/main/openapi/item.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/SearchQueryResult.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/type/SearchQueryResultTest.kt
  app/lori/server/ui/src/components/SearchFilter.vue
Due: build, test, pushLoriImage

fix: remove basicauth
  app/lori/server/src/main/resources/lori.properties
Due: build, test, pushLoriImage

refactor: ktlint issues
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/SearchDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/QueryParameterParserTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/SearchByTemplateIdTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/SearchDBTest.kt
  app/lori/server/ui/src/api/api.ts
Due: build, test, pushLoriImage

include updated .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fix(STB3-432): executed bookmarks reset unused values
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/utils/searchquerybuilder.ts
Due: build, test, pushLoriImage

feat(patchday): update docker files except s3cmd
  docker/vault-dind/Dockerfile
  docker/vault-kubectl-helm/Dockerfile
  docker/vault-openjdk/Dockerfile
  docker/vault-terraform/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(patchday): try up s3cmd version in dockerfile
  docker/vault-s3cmd/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(patchday): update s3cmd docker files
  docker/vault-psql-s3cmd/Dockerfile
  docker/vault-s3cmd/Dockerfile
Due: buildDockerfileImages, pushDockerfileImages

feat(patchday): use new images
  .gitlab-ci.yml
Due: none

fix: display handle id and reference correct
  app/lori/server/ui/src/components/BookmarkSave.vue
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/MetadataView.vue
  app/lori/server/ui/src/utils/metadata_utils.ts
Due: build, test, pushLoriImage

fix: reset metadata view for each search
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

fix: item table remove footer
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriImage

fix: rightview wrong header
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/RightsView.vue
Due: build, test, pushLoriImage

fix: made right tab view scrollable
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriImage

Path conditions:
  buildDockerfileImages: any of: docker/**/Dockerfile
  pushDockerfileImages: any of: docker/**/Dockerfile
  build: any of: app/**/*, buildSrc/**/*
  test: any of: app/**/*, buildSrc/**/*
  pushLoriImage: any of: app/lori/**/*
  pushLoriImportJob: any of: job/lori_import/**/*
  pushTemplateApplyJob: any of: job/template_apply/**/*
